<% @merchant_infos.each do |merchant_info| %>
		<section class="panel">
      <header class="panel-heading">
         <h4><%= merchant_info.name %></h4>
      </header>
      <div class="panel-body">

    	</div>
  </section>
<% end %>