//help and sercice
#introduction-service-center {
  background: image-url("bg_help.png") center center no-repeat;
  background-size: cover;
  min-height: 350px;
}

.help-service {
  .fuwu h2 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #218fdc;
    background: image-url('line2.jpg') no-repeat left;
    padding-left: 27px;

    a {
      color: red;
    }
  }

  .fuwuTxt {
    width: 960px;
    height: 70px;
    margin-top: 20px;
    margin-left: 48px;
  }

  #contact ul {
    list-style: none outside none;

    li {
      img {
        margin-bottom: 30px;
      }
      span {
        display: block;
      }
    }
  }

  .fuwuTxt ul li {
    height: 70px;
    line-height: 20px;
    float: left;
    margin-bottom: 40px;
  }

  .fuwuTxt ul li h1 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
  }

  .fuwuTxt ul li img {
    width: 20%;
    float: left;
    margin-right: 15px;
    min-height: 52px;
  }

  .changjianwenti{
  }
  .changjianwenti h2{
    font-family:"微软雅黑";
    font-size:18px;
    color:#218fdc;
    background: image-url("line2.jpg") no-repeat left; padding-left:27px;
  }

  .changjianwenti ul{
    width:95%;
    margin-top:20px;
  }
  .changjianwenti dl dt{
    width:95%;
    line-height:36px;
    background:url(./images/line3.jpg) no-repeat left;
    border-bottom:#c7c7c7 1px dashed;
    padding-left:14px;
  }
  .changjianwenti dl dt a{
    font-family:"微软雅黑";
    font-size:16px;
    color:#000;
  }
  .changjianwenti dl dd{
    padding:30px 22px 50px 22px;
    width:88%;
    // background:image-url('showTop.jpg') no-repeat scroll center top #ffffff;
    margin:2px;
    position:relative;
    display:none;
  }
  .close {
    position:absolute;
    width:24px;
    height:24px;
    bottom:2px;
    right:-24px;
    background:image-url('close.jpg') no-repeat;
  }
  .changjianwenti dl dd p{
    font-family:"微软雅黑";
    font-size:15px;
    color:#0092d7;
    line-height:27px;
  }


  img#service_flow {
    margin-left: 8px;
  }

  table {
    text-align: center;
    line-height: 3em;
  }
  table th {
    text-align: center;
  }
  th:first-child {
    width: 20%;
  }

  ol {
    list-style-type: decimal;
    line-height: 2em;
  }

  #note {
    margin-top: 5px;
  }
  #navbar li.active > a {
    background-color: inherit;
    color: #aaa;
  }
}

#service-policy {
  display: none;
}

