//app
#introduction-app {
  background: image-url("bg_APP.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  #downloads {
    padding-top: 12%;
    figure {
      margin-bottom: 2%;
      img {
      }
    }
  }
}


