//a
#introduction-a {
  background: image-url("bg_A.jpg") center center no-repeat;
  background-size: cover;
  min-height: 684px;
  a.btn {
    background-color: #f15a29;
    border-color: #f15a29;

    margin-left: 18%;
    margin-top: 28%;
  }
}

#local-nav {
  background: #f3f5f0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  min-height: 52px;

  overflow: visible;
  margin-bottom: 0;
  z-index: 11;
  font-size: 14px;


  &.lock {
    position: fixed;
  }

  .container-fluid {
    border-bottom: 1px solid #d6d6d6;
    margin: 0;

    ul.nav {
      margin-right: 100px;
      li {
        a {
          padding-top: 10px;
          padding-bottom: 0;
          display: block;
        }
      }
    }
  }
}

#production-function {
  figure.sperator {
    border-bottom: 2px solid #D2D8C9;
  }
}

#production-specification, #production-usage {
  display: none;
}

#production-usage {
  margin-bottom: 30px;
}

#production-specification{
  figcaption {
    margin-left: 30%;
  }
  table#top-level > tbody > tr > td
  {
    &:first-child {
      text-align: center;
      vertical-align: middle;
    }
    &:nth-child(2) {
      padding: 0;
      table {
        margin:0;
        td {
          &:first-child {
            width: 30%;
          }
          &:nth-child(2) {
            width: 70%;
          }
        }
      }
    }
  }
}

.bxslider {
  visibility: visible;
}
