// m
#introduction-m {
  background: image-url("bg_M.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  a {
    position: absolute;
    left: 240px;
    bottom: 200px;
  }
}

