//app
#introduction-app {
  background: image-url("bg_APP.jpg") center center no-repeat;
  background-size: cover;
  min-height: 585px;

  #downloads {
    padding-top: 15%;
    #content {
      margin-left: 14%;
      figure {
        margin-bottom: 2%;
        img {
          width: 90%;
        }
      }
    }
  }
}

#app-content {
  figure.sperator {
    border-bottom: 2px solid #D2D8C9;
  }
}


