<% content_for :main_content do %>
  <h1><%= t(".editing_banner") %></h1>

  <%= render 'form' %>

  <%= link_to t("views.show"), [:merchant, @banner] %> |
  <%= link_to t("views.back"), merchant_banners_path(portal_style_id: @portal_style.id) %>
<% end %>
