<% unless params[:controller] == "wifi/merchants" && params[:action] == "home" %>
  <footer class="reset_footer">
    <div class="container" >
      <div class="row mbot30">
        <div class="col-lg-5 col-xs-12 col-centered">
          <div class="row span5 col-centered">
            杭州云链网络技术有限公司
            <span class="pull-right">电话：0571 85360738<span>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>