= form_for [:admin, @program], html: {id: "program-form"} do |f|
  .form-group
    = f.label :name, "节目名称", class: "control-lable col-md-4"
    .col-md-8
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :channel, "节目唯一标识", class: "control-label  col-md-4"
    .col-md-8
      = f.text_field :channel, class: "form-control", placeholder: "CMMB@12@杭州卫视@0571"

  .form-group
    .col-md-4.col-md-offset-2
      - if @program.new_record?
        = f.submit "创建节目", class: "btn btn-primary"
      - else
        = f.submit "修改节目", class: "btn btn-primary"

= content_for :script do
  javascript:
    $("#program-form").validate({
      rules: {
        'program[name]': {
          required: true,
        },
        'program[channel]': {
          required: true,
          format: /^\w+\-(\d+\-){2}.+$/,
          remote: {
            url: '/admin/programs/check_channel',
            type: 'get',
            data: {
              id: function() {
                return "#{@program.id}";
              },
            }
          }
        },
      },
      messages: {
        'program[name]': {
          required: '#{@program.errors.generate_message :name, :blank}'
        },

        'program[channel]': {
          required: '#{@program.errors.generate_message :channel, :blank}',
          format: '#{@program.errors.generate_message :channel, :format}',
          remote: '#{@program.errors.generate_message :channel, :taken}'
        },
      },
    })
