<nav id="sidebar"  class="nav-collapse ">
  <%= tabs_tag :namespace => :sub_nav, :builder => MenuTabBuilder, :open_tabs => { :id => "nav-accordion", :class => "sidebar-menu" } do |tab| %>
    <%= tab.programs '节目', admin_programs_path %>
    <%= tab.comments '评论', admin_comments_path %>
  <% end %>
</nav>
