<footer class="footer">
<div class="container">
  <div class="row">
    <p class="contact col-xs-24">
      <%= link_to "关于我们", about_path %>
      &nbsp;|
      <%= link_to "联系我们", contact_us_path %>
    </p>
    <p class="text-muted">浙ICP备11055684号-2   2014 云链网络 版权所有</p>
  </div>
</div>
</footer>
