<div class="row span5 col-centered shop_title">
  <% if params[:controller] != 'wifi/merchants' || params[:action] != 'home' %>
    <%= link_to fa_icon(["angle-left", "2x"]), wifi_merchant_path(mid: params[:mid], vtoken: params[:vtoken]) %>
  <% end %>
  <h4 class="text-center"><strong><%= title %></strong></h4>
</div>
<div class="span5 about-carousel">
  <ul class="bxslider">
    <li>
      <%= image_tag "about_1.jpg", title: "Blanditiis praesentium voluptatum" %>
    </li>
    <li>
      <%= image_tag "about_2.jpg", title: "Honest and amazing things that bring positive results" %>
    </li>
  </ul>
</div>
