#feed_back_form {
  textarea {
    height: 20%;
  }

  input[type="text"] {
    margin-top: 20px;
  }

  #submit {
    margin-top: 20px;
  }

  .panel-heading {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .panel-body {
    margin-top: 0;
    padding-top: 0;
  }

}

#feed_backs {
  .content {
    display: none;
  }
}
