.television-logo-uploader {
  .image {
    width: 96px;
    height: 96px;
    float: left;

    img {
      width: 100%;
    }
  }

  .uploader {
    margin-left: 100px;
  }
}

table {
  .image {
    width: 45px;
    height: 45px;
    img {
      width: 100%;
    }
  }
}
