nav#sidebar.nav-collapse
  = tabs_tag :namespace => :sub_nav, :builder => MenuTabBuilder, :open_tabs => { :id => "nav-accordion", :class => "sidebar-menu" } do |tab|
    = tab.landings   '启动广告', admin_landings_path
    = tab.bottom_ads '底部栏广告', admin_bottom_ads_path
