/*
 *= require merchant_infos.css
 *= require bootstrap-reset.css
 *= require jquery.ui.datepicker
 *= require font-awesome.css
 *= require jquery.bxslider
 *= require style.css
 *= require style-responsive.css
 *= require jcrop
 *= require gritter
 *= require wifi/mshare.css
 *= require portal_config.css
 *= require share.css
 *= require map.css
 *= require wifi/style2
 *= require_tree ./admin
 *= require_tree ./merchant/
*/

#header {
  display: block;
  height: 49px;
  position: fixed;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
}

#global_menu {
  margin-left: 100px;
}

#global_menu li a{
  color: #555;
}

#global_menu li.active a{
  color: #3276b1;
}

#main-content .wrapper {
  margin-top: 55px;
}

li.sub-menu a span {
  margin-left: -3px;
}

.clearfix {
  clear: both;
}

