$screen-md:                  1px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  9999px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$main-color: rgba(83,102,120, 1.0);
$main-dark-color: darken($main-color, 10%);
$body-bg: rgba(242, 242, 242, 1.0);
$btn-primary-bg: $main-dark-color;

$navbar-default-bg: $main-dark-color;
$navbar-default-link-color: #DCDCDC;
$navbar-default-link-hover-color: #EFEFEF;
$navbar-default-link-active-color: #EFEFEF;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);

$btn-default-bg: #428bca;
$btn-default-color: #fff;

$btn-info-bg: #fff;
$btn-info-color: #333;

$bid-color: rgba(211, 84, 0,0.7);
$ask-color: rgba(39, 174, 96,0.7);
$state-warning-text: #CC0000;


@import "bootstrap";

/*
 *= require font-awesome
 *= require ./home/swmboxm.css
*/

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white;
}

header#home {
  margin-bottom: 0;

  a.logo {
    background: image-url('logo.png') center center no-repeat;
    background-size: 107px 28px;
    background-position: 0 12px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    display: block;
    height: 70px;
    width: 248px;
    margin-left: 100px
  }
}


// m
#introduction-m {
  background: image-url("bg_M.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  a {
    position: absolute;
    left: 240px;
    bottom: 200px;
  }
}

