@import 'var/bootstrap';
@import 'bootstrap';

@import 'var/basic';

/*
 *= require font-awesome
 *= require ./home/swmboxm.css
*/

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white;
}

header#home {
  margin-bottom: 0;

  a.logo {
    background: image-url('logo.png') center center no-repeat;
    background-size: 107px 28px;
    background-position: 0 12px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    display: block;
    height: 70px;
    width: 248px;
    margin-left: 100px
  }
}

img {
  width: 100%;
}


// m
#introduction-m {
  background: image-url("bg_M.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  a {
    position: absolute;
    left: 240px;
    bottom: 200px;
  }
}


//app
#introduction-app {
  background: image-url("bg_APP.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  #downloads {
    padding-top: 12%;
    figure {
      margin-bottom: 2%;
      img {
        width: 80%;
      }
    }
  }
}

//a
#introduction-a {
  background: image-url("bg_A.png") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  #downloads {
    padding-top: 12%;
    figure {
      margin-bottom: 2%;
      img {
        width: 80%;
      }
    }
  }
}
