@import 'var/bootstrap';
@import 'bootstrap';
@import 'var/basic';

@import 'font-awesome';
@import 'jquery.bxslider';

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: white;
}

header#home {
  position: relative;
  // z-index: 9999;
  min-width: 1010px;
  // margin: 0 auto 1em;
  // background: #444;
  // background: rgba(0,0,0,0.6);
  font-size: 18px;
  margin-bottom: 0;

  a.logo {
    background: image-url('logo.png') center center no-repeat;
    background-size: 107px 28px;
    background-position: 0 12px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    display: block;
    height: 70px;
    width: 248px;
    margin-left: 100px
  }
}

img {
  width: 100%;
}

// m
#introduction-m {
  background: image-url("bg_M.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  a {
    position: absolute;
    left: 240px;
    bottom: 200px;
  }
}


//app
#introduction-app {
  background: image-url("bg_APP.jpg") center center no-repeat;
  background-size: cover;
  min-height: 481px;

  #downloads {
    padding-top: 12%;
    figure {
      margin-bottom: 2%;
      img {
      }
    }
  }
}

//a
#introduction-a {
  background: image-url("bg_A.png") center center no-repeat;
  background-size: cover;
  min-height: 584px;

  #downloads {
    padding-top: 12%;
    figure {
      margin-bottom: 2%;
      img {
        width: 80%;
      }
    }
  }
}

#local-nav {
  background: #f3f5f0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  min-height: 20px;

  overflow: visible;
  margin-bottom: 0;
  z-index: 11;
  font-size: 14px;


  &.lock {
    position: fixed;
  }

  .container {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    margin-bottom: 0;

    ul.nav {
      margin-right: 100px;
      li {
        a {
          padding-top: 10px;
          padding-bottom: 0;
          display: block;
        }
      }
    }
  }
}

#production-specification, #production-usage {
  display: none;
}

#production-specification{
  table#top-level > tbody > tr > td
  {
    &:first-child {
      text-align: center;
      vertical-align: middle;
    }
    &:nth-child(2) {
      padding: 0;
      table {
        margin:0;
      }
    }
  }
}

.bxslider {
  visibility: visible;
}

//help and sercice
.help-service {
  .fuwu h2 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #218fdc;
    background: image-url('line2.jpg') no-repeat left;
    padding-left: 27px;

    a {
      color: red;
    }
  }

  .fuwuTxt {
    width: 960px;
    height: 70px;
    margin-top: 38px;
    margin-left: 48px;
  }

  #contact ul {
    list-style: none outside none;
  }

  .fuwuTxt ul li {
    height: 70px;
    line-height: 20px;
    float: left;
    margin-bottom: 20px;
  }

  .fuwuTxt ul li h1 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
  }

  .fuwuTxt ul li img {
    width: 20%;
    float: left;
    margin-right: 15px;
    min-height: 52px;
  }

  .changjianwenti{
  }
  .changjianwenti h2{
    font-family:"微软雅黑";
    font-size:18px;
    color:#218fdc;
    background: image-url("line2.jpg") no-repeat left; padding-left:27px;
  }

  .changjianwenti ul{
    width:95%;
    margin-top:20px;
  }
  .changjianwenti dl dt{
    width:95%;
    line-height:36px;
    background:url(./images/line3.jpg) no-repeat left;
    border-bottom:#c7c7c7 1px dashed;
    padding-left:14px;
  }
  .changjianwenti dl dt a{
    font-family:"微软雅黑";
    font-size:16px;
    color:#000;
  }
  .changjianwenti dl dd{
    padding:30px 22px 50px 22px;
    width:88%;
    background:image-url('showTop.jpg') no-repeat scroll center top #ffffff;
    margin:2px;
    position:relative;
    display:none;
  }
  .close {
    position:absolute;
    width:24px;
    height:24px;
    bottom:2px;
    right:-24px;
    background:image-url('close.jpg') no-repeat;
  }
  .changjianwenti dl dd p{
    font-family:"微软雅黑";
    font-size:15px;
    color:#0092d7;
    line-height:27px;
  }


  img#service_flow {
    margin-left: 80px;
  }

  table {
    text-align: center;
    line-height: 3em;
  }
  table th {
    text-align: center;
  }
  th:first-child {
    width: 20%;
  }

  ol {
    list-style-type: decimal;
    line-height: 2em;
  }

  #note {
    margin-top: 10px;
    margin-left: 40px;
  }
  #navbar li.active > a {
    background-color: inherit;
    color: #aaa;
  }
}
