@import "bootstrap";

.field_with_errors {
  @extend .has-error;
}

#basic_material {
  td { vertical-align: bottom;
    &:first-child {
      width: 15%;
      text-align: center;
    }
    input {
      margin: 0;
    }
  }
}

#shop-info {
  td {
    &:first-child {
      width: 15%;
      text-align: center;
    }
    input {
      margin: 0;
    }
  }

  #address {
    div {
      padding: 0;
      margin: 0;
    }
    .control-label {
      text-align: center;
    }
  }

  #map {
    padding-top: 40px;
    margin-top: 20px;
    h4 {
      float: left;
    }
    h4 ~ span.text-muted {
      margin-left: 20px;
    }
  }

  #map-long-lat {
    margin-top: 10px;
    margin-bottom: 10px;
    span:first-child {
      margin-right: 20px;
    }
  }

  #iCenter {
    border: 2px solid #ccc;
    margin-top: 30px;
  }
}

#city {
  .form-control {
    display: inline;
    width: 33%;
  }
}
