.form-signin a.btn {
  color: #fff;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.placeholder { color: #aaa; }

.dotted {
  border: 1px;
  border-style: none none dashed;
  width: 90%;
  margin: 0 auto;
}

.panel{
  word-wrap: break-word;
}
