<div class="container" >
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">
      <div class="row span5 col-centered shop_title">
        <h5 class="text-center"><strong>店铺名</strong></h5>
      </div>

      <div class="row span5 col-centered succ-info">
        <p>
        <h4 class="text-center">欢迎使用我们为您提供的免费WiFi</h4>
        </p>
        <p class="text-center">
        你已成功登录，获得4小时的免费上网时长。
        </p>
        <p class="text-center">
        有5人与您同时在线。
        </p>
      </div>

      <div class="row span5 col-centered">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="quote-info p-header">
            <span>热门商品推荐</span>
            <%= fa_icon "angle-right 2x",class: "pull-right" %>
          </div>
        </div>
      </div>

      <!--recent work start-->
      <div class="row span5 col-centered">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <ul class="bxslider">
            <% @products.each do |product| %>
              <li>
                <div class="element item view " data-zlname="reverse-effect">
                  <%= image_tag product.product_photo.url %>
                </div>
              </li>
            <% end %>
          </ul>

        </div>
      <!--recent work end-->
      </div>

      <div class="row span5 col-centered">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="quote-info p-header">
            <span>热门活动</span>
            <%= fa_icon "angle-right 2x",class: "pull-right" %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
