<div class="container" >
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">
      <%= render partial: "partial/adv", locals: { title: "店铺介绍" } %>
      <%= render partial: "partial/portal_notification", locals: {style: "border: 1px solid #696;"} %>
      <%= render partial: "partial/shop_info" %>

  </div>
  </div>
</div>
