#success_info {
  background-color: #52D8D4
}
#success_info p {
  color: #fff;
}


/* /wifi/merchant/login_success page */
#login_success figure {
  position: relative;
}
#login_success figcaption {
  position: absolute;
  left: 0;
  bottom: 0;

  float: left;
  width: 100%;

  font-size: 10px;
}

#login_success figcaption span.price {
  margin-left: 40px;
}

.succ-info .success-Icon {
  float: left;
  width: 95px;
  height: 95px;
  margin: 2px 0 0 40px;

  background-image: url(image-path('right.png'));
}

