#success_info {
  background-color: #52D8D4
}
#success_info p {
  color: #fff;
}


/* /wifi/users/login_success page */
#login_success figure {
  position: relative;
}
#login_success figcaption {
  position: absolute;
  left: 0;
  bottom: 0;

  float: left;
  width: 100%;

  font-size: 10px;
}

#login_success figcaption span.price {
  margin-left: 40px;
}

.succ-info {
   padding-right: 2%;

  .success-Icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    background-size: 100% auto;
    background-image: url(image-path('right.png'));
  }

}

#surrounding {
  margin-top: 1%;
}

#app_download_img {
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
}
